# Development Toolkit
/src/DataFixtures
# /src/Migrations

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> Uploaded Files ###
/public/upload
###< Uploaded Files ###
